body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


.content {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    align-items: center;
}
.title {
    
    width: 300px;   
    padding: 10px;
    display: block;
    font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
    text-align: center;
    align-items: center;

}
.title-logo-h1 {

    margin-block-end: 3px;
}
/*

margin-top: 100px;
padding: 0%;

height es alto

height: 93px;
margin-top: 40px;
*/
.title-logo {
    width: 175px;
}

.title-slogan {
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #3366cc;
}

.idiom {
    width: 600px;   
    height: 310px;
    display: grid;
    grid-template-columns: 150px 250px 150px;
    justify-content: center;    
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Inter,Helvetica,Arial,sans-serif ;
    padding: 2px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.idiom-left {
    width: 150px;
    height: 330px;
    display: grid;
    align-items: center;
}
.idiom-right {
    width: 150px;
    height: 330px;
    display: grid;
    align-items: center;

}
.main-logo {
    width: 218px;
}
.idiom-right {
    width: 150px;
}

.idiom > ul > li> {
    
    display: block;
}
.idiom > ul > li> span {
    

    font-size: 13px;
}
.idiom > ul > li> div a {
    font-weight: bold;
    color: #3366cc;

}

.idiom-left-1 {
position: relative;
left: 70px;
}
.idiom-left-2 {
    position: relative;
    left: 20px;
}
.idiom-left-4 {
    position: relative;
    left: 20px;
}
.idiom-left-5 {
    position: relative;
    left: 70px;
}


.idiom-right-1 {
    position: relative;
    right: 70px;
    }
    .idiom-right-2 {
        position: relative;
        right: 20px;
    }
    .idiom-right-4 {
        position: relative;
        right: 20px;
    }
    .idiom-right-5 {
        position: relative;
        right: 70px;
    }

